<button mat-raised-button color="primary" (click)="importPokemons()">Importar Pokémon</button>

<div *ngIf="currentPokemon; else noData">
  <app-pokemon-card [pokemon]="currentPokemon" (onToggleCapture)="handleCapture($event)"></app-pokemon-card>
</div>
<div class="navigation-buttons">
  <button mat-raised-button color="primary" (click)="previousPage()" [disabled]="currentIndex === 0">Anterior</button>
  <button mat-raised-button color="accent" (click)="nextPage()" [disabled]="currentIndex >= filteredPokemons.length - 1">Siguiente</button>
</div>
<ng-template #noData><p>No se encontraron Pokémon.</p></ng-template>


<button mat-raised-button color="primary" (click)="openDialog()">Ver Pokémon Capturados</button>


