@import '@angular/material/prebuilt-themes/indigo-pink.css'; 


.pokemon-card {
    max-width: 400px;
    margin: 2rem auto;
    display: block;
  }
  
  .pokemon-image {
    background-size: cover;
  }
  